.password {
    &__title {
      text-align: center;
      font-weight: bold;
      margin-bottom: 1rem;
    }
    &__btn{
        width: 100%;
        padding: 16px;
    }
    .col{
      padding-left: 0;
      padding-right: 4px;
    }
    .col:last-child{
      padding-left: 4px;
      padding-right: 0;
    }
  }
  